

html{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.center{
    width: 400px;
    height: 200px;

    position: absolute;
    top:50%;
    right: 40%;
    border: 1px solid black ;
    

}